<nav class="myaccount-navigation">
  <ul>
    <li>
      <a href="/account">{{ 'customer.account.title' | t }}</a>
    </li>
    <li>
      <a href="/account/addresses">{{ 'customer.account.addresses' | t }}</a>
    </li>
    <li>
      <a href="/account/logout">{{ 'customer.account.logout' | t }}</a>
    </li>
  </ul>
</nav>