{%- if settings.cookie_popup -%}
<div class="cc_container">
  <div class="cc_message">{{ settings.cookie_message }}</div>
  <a href="#null" target="_blank" class="cc_btn button">{{ settings.cookie_button }}</a>
</div>
{%- endif -%}