<div class="row">
  <div class="large-3 medium-4 columns column-widget {{ section.settings.footer_1_align }}">
    {%- if section.settings.footer_1_content != '' -%}
      {%- include 'shortcode' load: section.settings.footer_1_content -%}
    {%- endif -%}
  </div>
  <div class="large-3 medium-4 columns column-widget {{ section.settings.footer_2_align }}">
    {%- if section.settings.footer_2_content != '' -%}
      {%- include 'shortcode' load: section.settings.footer_2_content -%}
    {%- endif -%}
  </div>
  <div class="large-6 medium-4 columns column-widget {{ section.settings.footer_3_align }}">
    {%- if section.settings.footer_3_content != '' -%}
      {%- include 'shortcode' load: section.settings.footer_3_content -%}
    {%- endif -%}
  </div>    
</div>