<div class="row">
  <div class="large-2 medium-3 columns column-widget {{ section.settings.footer_1_align }}">
    {%- if section.settings.footer_1_content != '' -%}
      {%- include 'shortcode' load: section.settings.footer_1_content -%}
    {%- endif -%}
  </div>
  <div class="large-2 medium-3 columns column-widget {{ section.settings.footer_2_align }}">
    {%- if section.settings.footer_2_content != '' -%}
      {%- include 'shortcode' load: section.settings.footer_2_content -%}
    {%- endif -%}
  </div>
  <div class="large-2 medium-3 columns column-widget {{ section.settings.footer_3_align }}">
    {%- if section.settings.footer_3_content != '' -%}
      {%- include 'shortcode' load: section.settings.footer_3_content -%}
    {%- endif -%}
  </div> 
  <div class="large-4 medium-3 columns column-widget {{ section.settings.footer_4_align }}">
    {%- if section.settings.footer_4_content != '' -%}
      {%- include 'shortcode' load: section.settings.footer_4_content -%}
    {%- endif -%}
  </div>             
</div>