<div class="page-header spacing animated fadeIn">
  <div class="row">
    {%- unless template.name == '404' -%}
    <div class="title-section spacing">
      {%- include 'breadcrumb' -%}
      <h1 class="page-title">{{ page_title }}</h1>
    </div>
    {%- endunless -%}
  </div>
</div>