<!-- LOADING FONTS AND ICONS -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:800" rel="stylesheet" property="stylesheet" type="text/css" media="all">

<!-- REVOLUTION LAYERS STYLES -->
<style>

</style>
<style></style>
<style type="text/css">	#rev_slider_65_1_wrapper .tp-loader.spinner3{ background-color: #000000 !important; } </style>
<style type="text/css">.hesperiden.tparrows{cursor:pointer;background:rgba(0,0,0,0);width:40px;height:40px;position:absolute;display:block;z-index:100;  border-radius:50%}.hesperiden.tparrows:hover{background:rgba(0,0,0,0)}.hesperiden.tparrows:before{font-family:"revicons";font-size:40px;color:rgb(255,255,255);display:block;line-height:40px;text-align:center}.hesperiden.tparrows.tp-leftarrow:before{content:"\e82c";  margin-left:-3px}.hesperiden.tparrows.tp-rightarrow:before{content:"\e82d";  margin-right:-3px}</style>


<!-- ADD-ONS CSS FILES -->

<!-- ADD-ONS JS FILES -->



<div id="rev_slider_65_1_wrapper" data-revslider="65" class="rev_slider_wrapper fullscreen-container" data-alias="homepage-slider" data-source="gallery" style="background:transparent;padding:0px;">
  <!-- START REVOLUTION SLIDER 5.4.3.1 fullscreen mode -->
  <div id="rev_slider_65_1" class="rev_slider fullscreenbanner" style="display:none;" data-version="5.4.3.1">
    <ul>	<!-- SLIDE  -->
      <li data-index="rs-177" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-thumb=""  data-rotate="0"  data-saveperformance="off"  data-title="Girl" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
        <!-- MAIN IMAGE -->
        <img src="https://app.roartheme.com/revslider/revslider/admin/assets/images/dummy.png" data-bgcolor='#ebaac6' style='background:#ebaac6' alt=""  data-lazyload="https://app.roartheme.com/revslider/revslider/admin/assets/images/transparent.png" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg" data-no-retina>
        <!-- LAYERS -->

        <!-- LAYER NR. 1 -->
        <div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme rs-parallaxlevel-2" 
             id="slide-177-layer-3" 
             data-x="['center','center','center','center']" data-hoffset="['-8','2','-4','2']" 
             data-y="['middle','middle','middle','middle']" data-voffset="['105','76','99','70']" 
             data-fontweight="['400','100','400','100']"
             data-width="['599','481','430','224']"
             data-height="['368','325','271','292']"
             data-whitespace="nowrap"

             data-type="shape" 
             data-responsive_offset="on" 

             data-frames='[{"delay":500,"speed":1000,"frame":"0","from":"x:0;y:0;z:0;rX:0;rY:0;rZ:0;sX:0.8;sY:0.8;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Back.easeOut"},{"delay":"wait","speed":700,"frame":"999","to":"auto:auto;","ease":"Power2.easeInOut"}]'
             data-textAlign="['left','left','left','left']"
             data-paddingtop="[0,0,0,0]"
             data-paddingright="[0,0,0,0]"
             data-paddingbottom="[0,0,0,0]"
             data-paddingleft="[0,0,0,0]"

             style="z-index: 5;border-color:rgba(183,100,136,0.25);border-style:solid;border-width:40px 40px 40px 40px;filter:blur(5px);-webkit-filter:blur(5px);-moz-filter:blur(5px);-o-filter:blur(5px);-ms-filter:blur(5px);"> </div>

        <!-- LAYER NR. 2 -->
        <div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme rs-parallaxlevel-4" 
             id="slide-177-layer-2" 
             data-x="['center','center','center','center']" data-hoffset="['-13','0','-3','1']" 
             data-y="['middle','middle','middle','middle']" data-voffset="['115','79','104','75']" 
             data-fontweight="['400','100','400','400']"
             data-width="['912','702','641','401']"
             data-height="['617','542','489','488']"
             data-whitespace="nowrap"

             data-type="shape" 
             data-responsive_offset="on" 

             data-frames='[{"delay":1100,"speed":1000,"frame":"0","from":"x:0;y:0;z:0;rX:0;rY:0;rZ:0;sX:0.4;sY:0.4;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Back.easeOut"},{"delay":"wait","speed":700,"frame":"999","to":"auto:auto;","ease":"Power2.easeInOut"}]'
             data-textAlign="['left','left','left','left']"
             data-paddingtop="[0,0,0,0]"
             data-paddingright="[0,0,0,0]"
             data-paddingbottom="[0,0,0,0]"
             data-paddingleft="[0,0,0,0]"

             style="z-index: 6;border-color:rgba(168,236,230,0.90);border-style:solid;border-width:50px 50px 50px 50px;"> </div>

        <!-- LAYER NR. 3 -->
        <div class="tp-caption   tp-resizeme rs-parallaxlevel-5" 
             id="slide-177-layer-9" 
             data-x="['left','left','left','left']" data-hoffset="['-41','-9','-91','-65']" 
             data-y="['top','top','top','top']" data-voffset="['29','39','170','76']" 
             data-width="none"
             data-height="none"
             data-whitespace="nowrap"

             data-type="image" 
             data-responsive_offset="on" 

             data-frames='[{"delay":800,"speed":2000,"frame":"0","from":"x:200px;rZ:45deg;opacity:0;","to":"o:1;rZ:-20;","ease":"Power4.easeOut"},{"delay":"wait","speed":700,"frame":"999","to":"auto:auto;","ease":"Power2.easeInOut"}]'
             data-textAlign="['left','left','left','left']"
             data-paddingtop="[0,0,0,0]"
             data-paddingright="[0,0,0,0]"
             data-paddingbottom="[0,0,0,0]"
             data-paddingleft="[0,0,0,0]"

             style="z-index: 7;">
          <div class="rs-looped rs-wave"  data-speed="7" data-angle="0" data-radius="3px" data-origin="50% 50%"><img src="https://app.roartheme.com/revslider/revslider/admin/assets/images/dummy.png" alt="" data-ww="['350px','300px','250px','150px']" data-hh="['438px','375px','313px','188px']" data-lazyload="https://app.roartheme.com/revslider/media/homepage-slider/relative_glasses.png" data-no-retina> </div></div>

        <!-- LAYER NR. 4 -->
        <div class="tp-caption   tp-resizeme rs-parallaxlevel-3" 
             id="slide-177-layer-1" 
             data-x="['center','center','center','center']" data-hoffset="['-16','-1','-2','0']" 
             data-y="['bottom','bottom','bottom','bottom']" data-voffset="['-134','-72','-22','-10']" 
             data-width="none"
             data-height="none"
             data-whitespace="nowrap"

             data-type="image" 
             data-responsive_offset="on" 

             data-frames='[{"delay":650,"speed":800,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Back.easeOut"},{"delay":"wait","speed":700,"frame":"999","to":"auto:auto;","ease":"Power2.easeInOut"}]'
             data-textAlign="['left','left','left','left']"
             data-paddingtop="[0,0,0,0]"
             data-paddingright="[0,0,0,0]"
             data-paddingbottom="[0,0,0,0]"
             data-paddingleft="[0,0,0,0]"

             style="z-index: 8;"><img src="https://app.roartheme.com/revslider/revslider/admin/assets/images/dummy.png" alt="" data-ww="['780px','600px','600px','500px']" data-hh="['961px','739px','739px','616px']" data-lazyload="https://app.roartheme.com/revslider/media/homepage-slider/girl.png" data-no-retina> </div>

        <!-- LAYER NR. 5 -->
        <div class="tp-caption   tp-resizeme rs-parallaxlevel-4" 
             id="slide-177-layer-7" 
             data-x="['left','left','left','left']" data-hoffset="['923','704','643','397']" 
             data-y="['top','top','top','top']" data-voffset="['706','590','792','598']" 
             data-width="none"
             data-height="none"
             data-whitespace="nowrap"

             data-type="image" 
             data-responsive_offset="on" 

             data-frames='[{"delay":950,"speed":2000,"frame":"0","from":"x:-200px;rZ:-45deg;opacity:0;","to":"o:1;rZ:-10;","ease":"Power4.easeOut"},{"delay":"wait","speed":700,"frame":"999","to":"auto:auto;","ease":"Power2.easeInOut"}]'
             data-textAlign="['left','left','left','left']"
             data-paddingtop="[0,0,0,0]"
             data-paddingright="[0,0,0,0]"
             data-paddingbottom="[0,0,0,0]"
             data-paddingleft="[0,0,0,0]"

             style="z-index: 9;">
          <div class="rs-looped rs-wave"  data-speed="6" data-angle="0" data-radius="2px" data-origin="50% 50%"><img src="https://app.roartheme.com/revslider/revslider/admin/assets/images/dummy.png" alt="" data-ww="['300px','300px','200px','150px']" data-hh="['246px','246px','164px','123px']" data-lazyload="https://app.roartheme.com/revslider/media/homepage-slider/makeup-acces-01.png" data-no-retina> </div></div>

        <!-- LAYER NR. 6 -->
        <div class="tp-caption   tp-resizeme rs-parallaxlevel-9" 
             id="slide-177-layer-4" 
             data-x="['left','left','left','left']" data-hoffset="['666','530','418','273']" 
             data-y="['top','top','top','top']" data-voffset="['84','64','223','122']" 
             data-width="none"
             data-height="none"
             data-whitespace="nowrap"

             data-type="image" 
             data-responsive_offset="on" 

             data-frames='[{"delay":500,"speed":2000,"frame":"0","from":"y:300px;rZ:45deg;opacity:0;","to":"o:1;rZ:-20;","ease":"Power4.easeOut"},{"delay":"wait","speed":700,"frame":"999","to":"auto:auto;","ease":"Power2.easeInOut"}]'
             data-textAlign="['left','left','left','left']"
             data-paddingtop="[0,0,0,0]"
             data-paddingright="[0,0,0,0]"
             data-paddingbottom="[0,0,0,0]"
             data-paddingleft="[0,0,0,0]"

             style="z-index: 10;">
          <div class="rs-looped rs-wave"  data-speed="5" data-angle="0" data-radius="6px" data-origin="50% 50%"><img src="https://app.roartheme.com/revslider/revslider/admin/assets/images/dummy.png" alt="" data-ww="['310px','250px','200px','150px']" data-hh="['208px','168px','134','101']" data-lazyload="https://app.roartheme.com/revslider/media/homepage-slider/diamond.png" data-no-retina> </div></div>

        <!-- LAYER NR. 7 -->
        <div class="tp-caption   tp-resizeme rs-parallaxlevel-5" 
             id="slide-177-layer-22" 
             data-x="['left','left','left','left']" data-hoffset="['112','127','53','29']" 
             data-y="['top','top','top','top']" data-voffset="['736','603','733','572']" 
             data-width="none"
             data-height="none"
             data-whitespace="nowrap"

             data-type="image" 
             data-responsive_offset="on" 

             data-frames='[{"delay":500,"speed":2000,"frame":"0","from":"y:300px;rZ:45deg;opacity:0;","to":"o:1;rZ:20;","ease":"Power4.easeOut"},{"delay":"wait","speed":700,"frame":"999","to":"auto:auto;","ease":"Power2.easeInOut"}]'
             data-textAlign="['left','left','left','left']"
             data-paddingtop="[0,0,0,0]"
             data-paddingright="[0,0,0,0]"
             data-paddingbottom="[0,0,0,0]"
             data-paddingleft="[0,0,0,0]"

             style="z-index: 11;">
          <div class="rs-looped rs-wave"  data-speed="5" data-angle="0" data-radius="6px" data-origin="50% 50%"><img src="https://app.roartheme.com/revslider/revslider/admin/assets/images/dummy.png" alt="" data-ww="['200px','200px','150px','120px']" data-hh="['134px','134px','101px','81px']" data-lazyload="https://app.roartheme.com/revslider/media/homepage-slider/diamond.png" data-no-retina> </div></div>

        <!-- LAYER NR. 8 -->
        <div class="tp-caption   tp-resizeme rs-parallaxlevel-5" 
             id="slide-177-layer-5" 
             data-x="['left','left','left','left']" data-hoffset="['868','722','607','399']" 
             data-y="['top','top','top','top']" data-voffset="['61','69','286','105']" 
             data-width="none"
             data-height="none"
             data-whitespace="nowrap"

             data-type="image" 
             data-responsive_offset="on" 

             data-frames='[{"delay":1250,"speed":2000,"frame":"0","from":"y:300px;rZ:35deg;opacity:0;","to":"o:1;rZ:-10;","ease":"Power4.easeOut"},{"delay":"wait","speed":700,"frame":"999","to":"auto:auto;","ease":"Power2.easeInOut"}]'
             data-textAlign="['left','left','left','left']"
             data-paddingtop="[0,0,0,0]"
             data-paddingright="[0,0,0,0]"
             data-paddingbottom="[0,0,0,0]"
             data-paddingleft="[0,0,0,0]"

             style="z-index: 12;">
          <div class="rs-looped rs-wave"  data-speed="5" data-angle="0" data-radius="4px" data-origin="50% 50%"><img src="https://app.roartheme.com/revslider/revslider/admin/assets/images/dummy.png" alt="" data-ww="['700px','600px','400px','200px']" data-hh="['292px','250px','167px','83']" data-lazyload="https://app.roartheme.com/revslider/media/homepage-slider/makeup-acces-02.png" data-no-retina> </div></div>

        <!-- LAYER NR. 9 -->
        <div class="tp-caption   tp-resizeme rs-parallaxlevel-3" 
             id="slide-177-layer-6" 
             data-x="['left','left','left','left']" data-hoffset="['1129','947','824','412']" 
             data-y="['top','top','top','top']" data-voffset="['343','314','470','218']" 
             data-width="none"
             data-height="none"
             data-whitespace="nowrap"

             data-type="image" 
             data-responsive_offset="on" 

             data-frames='[{"delay":650,"speed":2000,"frame":"0","from":"y:300px;rZ:90deg;opacity:0;","to":"o:1;rZ:20;","ease":"Power4.easeOut"},{"delay":"wait","speed":700,"frame":"999","to":"auto:auto;","ease":"Power2.easeInOut"}]'
             data-textAlign="['left','left','left','left']"
             data-paddingtop="[0,0,0,0]"
             data-paddingright="[0,0,0,0]"
             data-paddingbottom="[0,0,0,0]"
             data-paddingleft="[0,0,0,0]"

             style="z-index: 13;"><img src="https://app.roartheme.com/revslider/revslider/admin/assets/images/dummy.png" alt="" data-ww="['300px','230px','200px','150px']" data-hh="['338px','259px','225px','169px']" data-lazyload="https://app.roartheme.com/revslider/media/homepage-slider/shoes.png" data-no-retina> </div>

        <!-- LAYER NR. 10 -->
        <div class="tp-caption   tp-resizeme rs-parallaxlevel-3" 
             id="slide-177-layer-8" 
             data-x="['left','left','left','left']" data-hoffset="['-151','-67','-148','-29']" 
             data-y="['top','top','top','top']" data-voffset="['357','370','516','325']" 
             data-width="none"
             data-height="none"
             data-whitespace="nowrap"

             data-type="image" 
             data-responsive_offset="on" 

             data-frames='[{"delay":650,"speed":2000,"frame":"0","from":"y:300px;rZ:-45deg;opacity:0;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":700,"frame":"999","to":"auto:auto;","ease":"Power2.easeInOut"}]'
             data-textAlign="['left','left','left','left']"
             data-paddingtop="[0,0,0,0]"
             data-paddingright="[0,0,0,0]"
             data-paddingbottom="[0,0,0,0]"
             data-paddingleft="[0,0,0,0]"

             style="z-index: 14;"><img src="https://app.roartheme.com/revslider/revslider/admin/assets/images/dummy.png" alt="" data-ww="['220px','140px','130px','100px']" data-hh="['276px','176px','163px','125px']" data-lazyload="https://app.roartheme.com/revslider/media/homepage-slider/lipstick.png" data-no-retina> </div>

        <!-- LAYER NR. 11 -->
        <div class="tp-caption   tp-resizeme rs-parallaxlevel-9" 
             id="slide-177-layer-11" 
             data-x="['left','left','left','left']" data-hoffset="['-357','-291','-246','-175']" 
             data-y="['top','top','top','top']" data-voffset="['727','564','819','621']" 
             data-width="none"
             data-height="none"
             data-whitespace="nowrap"
             data-visibility="['on','on','on','off']"

             data-type="image" 
             data-responsive_offset="on" 

             data-frames='[{"delay":1450,"speed":2000,"frame":"0","from":"y:300px;rZ:-45deg;opacity:0;","to":"o:1;rZ:10;","ease":"Power4.easeOut"},{"delay":"wait","speed":700,"frame":"999","to":"auto:auto;","ease":"Power2.easeInOut"}]'
             data-textAlign="['left','left','left','left']"
             data-paddingtop="[0,0,0,0]"
             data-paddingright="[0,0,0,0]"
             data-paddingbottom="[0,0,0,0]"
             data-paddingleft="[0,0,0,0]"

             style="z-index: 15;">
          <div class="rs-looped rs-wave"  data-speed="6" data-angle="0" data-radius="7px" data-origin="50% 50%"><img src="https://app.roartheme.com/revslider/revslider/admin/assets/images/dummy.png" alt="" data-ww="['500px','420px','300px','200px']" data-hh="['400px','336px','375px','160px']" data-lazyload="https://app.roartheme.com/revslider/media/homepage-slider/bag.png" data-no-retina> </div></div>

        <!-- LAYER NR. 12 -->
        <div class="tp-caption   tp-resizeme rs-parallaxlevel-7" 
             id="slide-177-layer-24" 
             data-x="['center','center','center','center']" data-hoffset="['6','4','14','5']" 
             data-y="['middle','middle','middle','middle']" data-voffset="['221','140','218','170']" 
             data-fontsize="['120','100','100','80']"
             data-lineheight="['100','80','80','50']"
             data-color="['rgba(94,195,186,0.50)','rgba(ec3b,,,0.50)','rgba(ec3b,,,0.50)','rgba(ec3b,,,0.50)']"
             data-width="none"
             data-height="none"
             data-whitespace="nowrap"

             data-type="text" 
             data-responsive_offset="on" 

             data-frames='[{"delay":1550,"speed":1000,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":700,"frame":"999","to":"auto:auto;","ease":"Power2.easeInOut"}]'
             data-textAlign="['center','center','center','center']"
             data-paddingtop="[0,0,0,0]"
             data-paddingright="[0,0,0,0]"
             data-paddingbottom="[0,0,0,0]"
             data-paddingleft="[0,0,0,0]"

             style="z-index: 16; white-space: nowrap; font-size: 120px; line-height: 100px; font-weight: 800; color: rgba(94,195,186,0.50);font-family:Open Sans;letter-spacing:-7px;">DESIGNERS </div>

        <!-- LAYER NR. 13 -->
        <div class="tp-caption   tp-resizeme rs-parallaxlevel-7" 
             id="slide-177-layer-12" 
             data-x="['center','center','center','center']" data-hoffset="['1','1','11','2']" 
             data-y="['middle','middle','middle','middle']" data-voffset="['216','135','214','167']" 
             data-fontsize="['120','100','100','80']"
             data-lineheight="['100','80','80','50']"
             data-width="none"
             data-height="none"
             data-whitespace="nowrap"

             data-type="text" 
             data-responsive_offset="on" 

             data-frames='[{"delay":1550,"speed":1000,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":700,"frame":"999","to":"auto:auto;","ease":"Power2.easeInOut"}]'
             data-textAlign="['center','center','center','center']"
             data-paddingtop="[0,0,0,0]"
             data-paddingright="[0,0,0,0]"
             data-paddingbottom="[0,0,0,0]"
             data-paddingleft="[0,0,0,0]"

             style="z-index: 17; white-space: nowrap; font-size: 120px; line-height: 100px; font-weight: 800; color: rgba(255,255,255,1);font-family:Open Sans;letter-spacing:-7px;">DESIGNERS </div>

        <!-- LAYER NR. 14 -->
        <div class="tp-caption   tp-resizeme rs-parallaxlevel-7" 
             id="slide-177-layer-25" 
             data-x="['center','center','center','center']" data-hoffset="['7','2','14','3']" 
             data-y="['middle','middle','middle','middle']" data-voffset="['314','215','294','229']" 
             data-fontsize="['100','80','80','60']"
             data-lineheight="['100','80','80','50']"
             data-color="['rgba(94,195,186,0.50)','rgba(ec3b,,,0.50)','rgba(ec3b,,,0.50)','rgba(ec3b,,,0.50)']"
             data-width="none"
             data-height="none"
             data-whitespace="nowrap"

             data-type="text" 
             data-responsive_offset="on" 

             data-frames='[{"delay":1550,"speed":1000,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":700,"frame":"999","to":"auto:auto;","ease":"Power2.easeInOut"}]'
             data-textAlign="['center','center','center','center']"
             data-paddingtop="[0,0,0,0]"
             data-paddingright="[0,0,0,0]"
             data-paddingbottom="[0,0,0,0]"
             data-paddingleft="[0,0,0,0]"

             style="z-index: 18; white-space: nowrap; font-size: 100px; line-height: 100px; font-weight: 800; color: rgba(94,195,186,0.50);font-family:Open Sans;letter-spacing:-5px;">WE LOVE </div>

        <!-- LAYER NR. 15 -->
        <div class="tp-caption   tp-resizeme rs-parallaxlevel-7" 
             id="slide-177-layer-15" 
             data-x="['center','center','center','center']" data-hoffset="['2','-2','11','0']" 
             data-y="['middle','middle','middle','middle']" data-voffset="['309','211','291','225']" 
             data-fontsize="['100','80','80','60']"
             data-lineheight="['100','80','80','50']"
             data-width="none"
             data-height="none"
             data-whitespace="nowrap"

             data-type="text" 
             data-responsive_offset="on" 

             data-frames='[{"delay":1550,"speed":1000,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":700,"frame":"999","to":"auto:auto;","ease":"Power2.easeInOut"}]'
             data-textAlign="['center','center','center','center']"
             data-paddingtop="[0,0,0,0]"
             data-paddingright="[0,0,0,0]"
             data-paddingbottom="[0,0,0,0]"
             data-paddingleft="[0,0,0,0]"

             style="z-index: 19; white-space: nowrap; font-size: 100px; line-height: 100px; font-weight: 800; color: rgba(255,255,255,1);font-family:Open Sans;letter-spacing:-5px;">WE LOVE </div>

        <!-- LAYER NR. 16 -->
        <div class="tp-caption   tp-resizeme tp-svg-layer rs-parallaxlevel-5" 
             id="slide-177-layer-14" 
             data-x="['center','center','center','center']" data-hoffset="['1','0','-2','0']" 
             data-y="['middle','middle','middle','middle']" data-voffset="['391','299','381','300']" 
             data-width="['140','100','100','100']"
             data-height="100"
             data-whitespace="nowrap"

             data-type="svg" 
             data-actions='[{"event":"click","action":"jumptoslide","slide":"rs-4","delay":""}]'
             data-svg_src="https://app.roartheme.com/revslider/revslider/public/assets/assets/svg/navigation/ic_expand_more_24px.svg" 
             data-svg_idle="sc:transparent;sw:0;sda:0;sdo:0;" 
             data-svg_hover="sc:transparent;sw:0;sda:0;sdo:0;" 
             data-responsive_offset="on" 

             data-frames='[{"delay":1750,"speed":1000,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":700,"frame":"999","to":"auto:auto;","ease":"Power2.easeInOut"},{"frame":"hover","speed":"200","ease":"Power1.easeInOut","to":"o:1;sX:1.4;sY:1.4;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(255,255,255,1);"}]'
             data-textAlign="['left','left','left','left']"
             data-paddingtop="[0,0,0,0]"
             data-paddingright="[0,0,0,0]"
             data-paddingbottom="[0,0,0,0]"
             data-paddingleft="[0,0,0,0]"

             style="z-index: 20; min-width: 140px; max-width: 140px; max-width: 100px; max-width: 100px; color: rgba(255,255,255,1);cursor:pointer;">
          <div class="rs-looped rs-slideloop"  data-easing="Power1.easeInOut" data-speed="1" data-xs="0" data-xe="0" data-ys="-5" data-ye="5"> </div></div>
      </li>
      <!-- SLIDE  -->
      <li data-index="rs-178" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-thumb=""  data-rotate="0"  data-saveperformance="off"  data-title="Guy" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
        <!-- MAIN IMAGE -->
        <img src="https://app.roartheme.com/revslider/revslider/admin/assets/images/dummy.png" data-bgcolor='#78c0ba' style='background:#78c0ba' alt=""  data-lazyload="https://app.roartheme.com/revslider/revslider/admin/assets/images/transparent.png" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg" data-no-retina>
        <!-- LAYERS -->

        <!-- LAYER NR. 17 -->
        <div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme rs-parallaxlevel-1" 
             id="slide-178-layer-3" 
             data-x="['center','center','center','center']" data-hoffset="['-6','0','0','6']" 
             data-y="['middle','middle','middle','middle']" data-voffset="['23','20','20','60']" 
             data-fontweight="['800','100','100','100']"
             data-width="['596','480','400','238']"
             data-height="['452','460','460','334']"
             data-whitespace="nowrap"

             data-type="shape" 
             data-responsive_offset="on" 

             data-frames='[{"delay":500,"speed":1000,"frame":"0","from":"x:0;y:0;z:0;rX:0;rY:0;rZ:0;sX:0.8;sY:0.8;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Back.easeOut"},{"delay":"wait","speed":700,"frame":"999","to":"auto:auto;","ease":"Power2.easeInOut"}]'
             data-textAlign="['left','left','left','left']"
             data-paddingtop="[0,0,0,0]"
             data-paddingright="[0,0,0,0]"
             data-paddingbottom="[0,0,0,0]"
             data-paddingleft="[0,0,0,0]"

             style="z-index: 5;border-color:rgba(8ece,,,0.40);border-style:solid;border-width:40px 40px 40px 40px;filter:blur(5px);-webkit-filter:blur(5px);-moz-filter:blur(5px);-o-filter:blur(5px);-ms-filter:blur(5px);"> </div>

        <!-- LAYER NR. 18 -->
        <div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme rs-parallaxlevel-4" 
             id="slide-178-layer-2" 
             data-x="['center','center','center','center']" data-hoffset="['0','0','0','6']" 
             data-y="['middle','middle','middle','middle']" data-voffset="['23','25','25','56']" 
             data-fontweight="['400','400','100','100']"
             data-width="['900','700','640','401']"
             data-height="['700','680','680','525']"
             data-whitespace="nowrap"

             data-type="shape" 
             data-responsive_offset="on" 

             data-frames='[{"delay":1100,"speed":1000,"frame":"0","from":"x:0;y:0;z:0;rX:0;rY:0;rZ:0;sX:0.8;sY:0.8;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Back.easeOut"},{"delay":"wait","speed":700,"frame":"999","to":"auto:auto;","ease":"Power2.easeInOut"}]'
             data-textAlign="['left','left','left','left']"
             data-paddingtop="[0,0,0,0]"
             data-paddingright="[0,0,0,0]"
             data-paddingbottom="[0,0,0,0]"
             data-paddingleft="[0,0,0,0]"

             style="z-index: 6;border-color:rgba(168,236,230,0.90);border-style:solid;border-width:40px 40px 40px 40px;"> </div>

        <!-- LAYER NR. 19 -->
        <div class="tp-caption   tp-resizeme rs-parallaxlevel-3" 
             id="slide-178-layer-8" 
             data-x="['left','left','left','left']" data-hoffset="['-160','-100','-141','-58']" 
             data-y="['top','top','top','top']" data-voffset="['748','554','722','535']" 
             data-width="none"
             data-height="none"
             data-whitespace="nowrap"

             data-type="image" 
             data-responsive_offset="on" 

             data-frames='[{"delay":650,"speed":2000,"frame":"0","from":"y:300px;rZ:-45deg;opacity:0;","to":"o:1;rZ:23;","ease":"Power4.easeOut"},{"delay":"wait","speed":700,"frame":"999","to":"auto:auto;","ease":"Power2.easeInOut"}]'
             data-textAlign="['left','left','left','left']"
             data-paddingtop="[0,0,0,0]"
             data-paddingright="[0,0,0,0]"
             data-paddingbottom="[0,0,0,0]"
             data-paddingleft="[0,0,0,0]"

             style="z-index: 7;">
          <div class="rs-looped rs-wave"  data-speed="5" data-angle="0" data-radius="5px" data-origin="30% 30%"><img src="https://app.roartheme.com/revslider/revslider/admin/assets/images/dummy.png" alt="" data-ww="['450px','300px','326px','200px']" data-hh="['333px','222px','241px','148px']" data-lazyload="https://app.roartheme.com/revslider/media/homepage-slider/camera.png" data-no-retina> </div></div>

        <!-- LAYER NR. 20 -->
        <div class="tp-caption   tp-resizeme rs-parallaxlevel-3" 
             id="slide-178-layer-6" 
             data-x="['left','left','left','left']" data-hoffset="['1350','956','657','428']" 
             data-y="['top','top','top','top']" data-voffset="['-20','440','672','497']" 
             data-width="none"
             data-height="none"
             data-whitespace="nowrap"
             data-visibility="['on','on','on','off']"

             data-type="image" 
             data-responsive_offset="on" 

             data-frames='[{"delay":650,"speed":2000,"frame":"0","from":"y:300px;rZ:90deg;opacity:0;","to":"o:1;rZ:15;","ease":"Power4.easeOut"},{"delay":"wait","speed":700,"frame":"999","to":"auto:auto;","ease":"Power2.easeInOut"}]'
             data-textAlign="['left','left','left','left']"
             data-paddingtop="[0,0,0,0]"
             data-paddingright="[0,0,0,0]"
             data-paddingbottom="[0,0,0,0]"
             data-paddingleft="[0,0,0,0]"

             style="z-index: 8;"><img src="https://app.roartheme.com/revslider/revslider/admin/assets/images/dummy.png" alt="" data-ww="['500px','400px','366px','200px']" data-hh="['500px','400px','366px','200px']" data-lazyload="https://app.roartheme.com/revslider/media/homepage-slider/headphones.png" data-no-retina> </div>

        <!-- LAYER NR. 21 -->
        <div class="tp-caption   tp-resizeme rs-parallaxlevel-3" 
             id="slide-178-layer-1" 
             data-x="['center','center','center','center']" data-hoffset="['187','133','148','142']" 
             data-y="['bottom','bottom','bottom','bottom']" data-voffset="['-200','-83','-61','-64']" 
             data-width="none"
             data-height="none"
             data-whitespace="nowrap"

             data-type="image" 
             data-responsive_offset="on" 

             data-frames='[{"delay":650,"speed":800,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Back.easeOut"},{"delay":"wait","speed":700,"frame":"999","to":"auto:auto;","ease":"Power2.easeInOut"}]'
             data-textAlign="['left','left','left','left']"
             data-paddingtop="[0,0,0,0]"
             data-paddingright="[0,0,0,0]"
             data-paddingbottom="[0,0,0,0]"
             data-paddingleft="[0,0,0,0]"

             style="z-index: 9;"><img src="https://app.roartheme.com/revslider/revslider/admin/assets/images/dummy.png" alt="" data-ww="['1200px','878px','963px','754px']" data-hh="['1073px','786px','862px','674px']" data-lazyload="https://app.roartheme.com/revslider/media/homepage-slider/guy.png" data-no-retina> </div>

        <!-- LAYER NR. 22 -->
        <div class="tp-caption   tp-resizeme rs-parallaxlevel-5" 
             id="slide-178-layer-10" 
             data-x="['left','left','left','left']" data-hoffset="['-173','-111','-235','-127']" 
             data-y="['top','top','top','top']" data-voffset="['125','-8','159','192']" 
             data-width="none"
             data-height="none"
             data-whitespace="nowrap"
             data-visibility="['on','on','on','off']"

             data-type="image" 
             data-responsive_offset="on" 

             data-frames='[{"delay":1350,"speed":2000,"frame":"0","from":"y:300px;rZ:90deg;opacity:0;","to":"o:1;rZ:15;","ease":"Power4.easeOut"},{"delay":"wait","speed":700,"frame":"999","to":"auto:auto;","ease":"Power2.easeInOut"}]'
             data-textAlign="['left','left','left','left']"
             data-paddingtop="[0,0,0,0]"
             data-paddingright="[0,0,0,0]"
             data-paddingbottom="[0,0,0,0]"
             data-paddingleft="[0,0,0,0]"

             style="z-index: 10;">
          <div class="rs-looped rs-wave"  data-speed="6" data-angle="0" data-radius="4px" data-origin="50% 50%"><img src="https://app.roartheme.com/revslider/revslider/admin/assets/images/dummy.png" alt="" data-ww="['359px','300px','278px','187px']" data-hh="['558px','464px','430px','289px']" data-lazyload="https://app.roartheme.com/revslider/media/homepage-slider/watch.png" data-no-retina> </div></div>

        <!-- LAYER NR. 23 -->
        <div class="tp-caption   tp-resizeme rs-parallaxlevel-7" 
             id="slide-178-layer-4" 
             data-x="['left','left','left','left']" data-hoffset="['619','532','420','250']" 
             data-y="['top','top','top','top']" data-voffset="['74','93','190','179']" 
             data-width="none"
             data-height="none"
             data-whitespace="nowrap"

             data-type="image" 
             data-responsive_offset="on" 

             data-frames='[{"delay":500,"speed":2000,"frame":"0","from":"y:300px;rZ:45deg;opacity:0;","to":"o:1;rZ:154;","ease":"Power4.easeOut"},{"delay":"wait","speed":700,"frame":"999","to":"auto:auto;","ease":"Power2.easeInOut"}]'
             data-textAlign="['left','left','left','left']"
             data-paddingtop="[0,0,0,0]"
             data-paddingright="[0,0,0,0]"
             data-paddingbottom="[0,0,0,0]"
             data-paddingleft="[0,0,0,0]"

             style="z-index: 11;">
          <div class="rs-looped rs-wave"  data-speed="5" data-angle="0" data-radius="6px" data-origin="50% 50%"><img src="https://app.roartheme.com/revslider/revslider/admin/assets/images/dummy.png" alt="" data-ww="['272px','225px','250px','154px']" data-hh="['201px','167px','185px','114px']" data-lazyload="https://app.roartheme.com/revslider/media/homepage-slider/guy-glasses.png" data-no-retina> </div></div>

        <!-- LAYER NR. 24 -->
        <div class="tp-caption   tp-resizeme rs-parallaxlevel-7" 
             id="slide-178-layer-12" 
             data-x="['center','center','center','center']" data-hoffset="['4','-2','-6','4']" 
             data-y="['middle','middle','middle','middle']" data-voffset="['49','34','55','76']" 
             data-fontsize="['110','100','90','65']"
             data-lineheight="['100','80','80','50']"
             data-width="none"
             data-height="none"
             data-whitespace="nowrap"

             data-type="text" 
             data-responsive_offset="on" 

             data-frames='[{"delay":1550,"speed":1000,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":700,"frame":"999","to":"auto:auto;","ease":"Power2.easeInOut"}]'
             data-textAlign="['center','center','center','center']"
             data-paddingtop="[0,0,0,0]"
             data-paddingright="[0,0,0,0]"
             data-paddingbottom="[0,0,0,0]"
             data-paddingleft="[0,0,0,0]"

             style="z-index: 12; white-space: nowrap; font-size: 110px; line-height: 100px; font-weight: 800; color: rgba(255,255,255,1);font-family:Open Sans;letter-spacing:-5px;">NEW ARRIVALS </div>

        <!-- LAYER NR. 25 -->
        <div class="tp-caption   tp-resizeme rs-parallaxlevel-10" 
             id="slide-178-layer-5" 
             data-x="['left','left','left','left']" data-hoffset="['833','749','671','319']" 
             data-y="['top','top','top','top']" data-voffset="['270','163','281','258']" 
             data-width="none"
             data-height="none"
             data-whitespace="nowrap"

             data-type="image" 
             data-responsive_offset="on" 

             data-frames='[{"delay":1250,"speed":2000,"frame":"0","from":"y:300px;rZ:15deg;opacity:0;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":700,"frame":"999","to":"auto:auto;","ease":"Power2.easeInOut"}]'
             data-textAlign="['left','left','left','left']"
             data-paddingtop="[0,0,0,0]"
             data-paddingright="[0,0,0,0]"
             data-paddingbottom="[0,0,0,0]"
             data-paddingleft="[0,0,0,0]"

             style="z-index: 13;">
          <div class="rs-looped rs-wave"  data-speed="5" data-angle="0" data-radius="4px" data-origin="50% 50%"><img src="https://app.roartheme.com/revslider/revslider/admin/assets/images/dummy.png" alt="" data-ww="['503px','500px','400px','300px']" data-hh="['186px','185px','148px','111px']" data-lazyload="https://app.roartheme.com/revslider/media/homepage-slider/pen.png" data-no-retina> </div></div>

        <!-- LAYER NR. 26 -->
        <div class="tp-caption   tp-resizeme rs-parallaxlevel-7" 
             id="slide-178-layer-17" 
             data-x="['center','center','center','center']" data-hoffset="['6','1','-1','0']" 
             data-y="['middle','middle','middle','middle']" data-voffset="['133','109','120','123']" 
             data-fontsize="['80','70','60','40']"
             data-lineheight="['100','80','80','50']"
             data-width="none"
             data-height="none"
             data-whitespace="nowrap"

             data-type="text" 
             data-responsive_offset="on" 

             data-frames='[{"delay":1550,"speed":1000,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":700,"frame":"999","to":"auto:auto;","ease":"Power2.easeInOut"}]'
             data-textAlign="['center','center','center','center']"
             data-paddingtop="[0,0,0,0]"
             data-paddingright="[0,0,0,0]"
             data-paddingbottom="[0,0,0,0]"
             data-paddingleft="[0,0,0,0]"

             style="z-index: 14; white-space: nowrap; font-size: 80px; line-height: 100px; font-weight: 800; color: rgba(255,255,255,1);font-family:Open Sans;letter-spacing:-3px;">ARE EVERYWHERE </div>

        <!-- LAYER NR. 27 -->
        <div class="tp-caption   tp-resizeme rs-parallaxlevel-6" 
             id="slide-178-layer-13" 
             data-x="['center','center','center','center']" data-hoffset="['-2','0','0','0']" 
             data-y="['middle','middle','middle','middle']" data-voffset="['237','222','222','181']" 
             data-fontsize="['40','30','30','26']"
             data-lineheight="['35','25','25','25']"
             data-width="none"
             data-height="none"
             data-whitespace="nowrap"

             data-type="text" 
             data-responsive_offset="on" 

             data-frames='[{"delay":1650,"speed":1000,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":700,"frame":"999","to":"auto:auto;","ease":"Power2.easeInOut"}]'
             data-textAlign="['center','center','center','center']"
             data-paddingtop="[0,0,0,0]"
             data-paddingright="[0,0,0,0]"
             data-paddingbottom="[0,0,0,0]"
             data-paddingleft="[0,0,0,0]"

             style="z-index: 15; white-space: nowrap; font-size: 40px; line-height: 35px; font-weight: 800; color: rgba(255,255,255,0.60);font-family:Open Sans;letter-spacing:-1px;">GET INSPIRED OUR<br/>
          NEW COLLECTIONS </div>

        <!-- LAYER NR. 28 -->
        <div class="tp-caption   tp-resizeme tp-svg-layer rs-parallaxlevel-5" 
             id="slide-178-layer-14" 
             data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
             data-y="['middle','middle','middle','middle']" data-voffset="['340','299','299','249']" 
             data-width="['150','100','100','100']"
             data-height="['150','100','100','100']"
             data-whitespace="nowrap"

             data-type="svg" 
             data-actions='[{"event":"click","action":"scrollbelow","offset":"px","delay":"","speed":"300","ease":"Linear.easeNone"}]'
             data-svg_src="https://app.roartheme.com/revslider/revslider/public/assets/assets/svg/navigation/ic_expand_more_24px.svg" 
             data-svg_idle="sc:transparent;sw:0;sda:0;sdo:0;" 
             data-svg_hover="sc:transparent;sw:0;sda:0;sdo:0;" 
             data-responsive_offset="on" 

             data-frames='[{"delay":1750,"speed":1000,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":700,"frame":"999","to":"auto:auto;","ease":"Power2.easeInOut"},{"frame":"hover","speed":"200","ease":"Power1.easeInOut","to":"o:1;sX:1.4;sY:1.4;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(255,255,255,1);"}]'
             data-textAlign="['left','left','left','left']"
             data-paddingtop="[0,0,0,0]"
             data-paddingright="[0,0,0,0]"
             data-paddingbottom="[0,0,0,0]"
             data-paddingleft="[0,0,0,0]"

             style="z-index: 16; min-width: 150px; max-width: 150px; max-width: 150px; max-width: 150px; color: rgba(255,255,255,1);cursor:pointer;">
          <div class="rs-looped rs-slideloop"  data-easing="Power1.easeInOut" data-speed="1" data-xs="0" data-xe="0" data-ys="-5" data-ye="5"> </div></div>
      </li>
    </ul>
    <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>	</div>
</div><!-- END REVOLUTION SLIDER -->


