{%- capture images_render -%}{% include 'shortcode-render' render:'images' %}{%- endcapture -%}
{%- assign images = images_render | remove: ' ' | split: ',' -%}
{%- if images.size > 0 -%}
<div class="gallery-slider-wrapper">
  <div class="gallery-slider">
    <div class="swiper-container format-gallery-swiper">
      <div class="swiper-wrapper">
        {%- for image in images -%}
        <div class="swiper-slide">
          <img src="{{ image }}" crossOrigin="anonymous" alt="" />
        </div>
        {%- endfor -%}
      </div>
      <div class="pagination"></div>
      <div class="swiper-button-next swiper-arrow"></div>
      <div class="swiper-button-prev swiper-arrow"></div>
    </div>
  </div>
</div>
{%- endif -%}