{%- capture my_title -%}{% include 'shortcode-render' render: 'title' %}{%- endcapture -%}
{%- capture my_collection_name -%}{% include 'shortcode-render' render: 'collection' %}{%- endcapture -%}
{%- capture my_limit -%}{% include 'shortcode-render' render: 'limit' %}{%- endcapture -%}
{%- capture my_columns -%}{% include 'shortcode-render' render: 'columns' %}{%- endcapture -%}

<div class="shortcode_products_slider">
  <div class="products-carousel products-carousels-slider">
    {%- if my_title != blank -%}
    <h2 class="shortcode_title">{{ my_title | escape }}</h2>
    {%- endif -%}

    {%- assign collection = collections[my_collection_name] -%}
    {%- unless collection.products_count == 0 -%}
    <div class="products products-grid product-layout-grid owl-carousel owl-theme" data-per-view="{{ my_columns | escape }}">
      {%- for my_product in collection.products limit: my_limit -%}
        {%- include 'product-item' -%}
      {%- endfor -%}
    </div>
    {%- endunless -%}
  </div>
</div>