{%- assign header_sticky = false -%}
{%- assign header_sticky_scroll = false -%}
{%- assign header_sticky_mobile = false -%}

{%- if section.settings.header_sticky  != '' -%}
  {%- assign header_sticky = true -%}
{%- endif -%}

{%- if section.settings.header_sticky_scroll   != '' -%}
  {%- assign header_sticky_scroll = true -%}
{%- endif -%}

{%- if section.settings.header_sticky_mobile   != '' -%}
  {%- assign header_sticky_mobile  = true -%}
{%- endif -%}
<div data-section-id="{{ section.id }}" data-section-type="header-section">
  {%- assign header_skin = 'header-skin-' | append: section.settings.header_style -%}
  {%- include header_skin -%}
</div>

{% schema %}
  {
    "name": "Header",
    "settings": [
     {
        "type": "select",
        "id": "header_style",
        "label": "Menu Style",
        "options": [
          {
            "label": "Off Canvas",
            "value": "1"
          },
          {
            "label": "Horizontal",
            "value": "2"
          }
        ]
      },
      {
        "type": "header",
        "content": "Main Logo"
      },
      {
        "type": "image_picker",
        "id": "main_logo",
        "label": "Logo Image"
      },
      {
        "type": "image_picker",
        "id": "main_logo_retina",
        "label": "Retina Logo Image"
      },
      {
        "type": "image_picker",
        "id": "main_logo_dark",
        "label": "Logo Image for Dark Background"
      },
      {
        "type": "image_picker",
        "id": "main_logo_dark_retina",
        "label": "Retina Logo Image for Dark Background"
      },
      {
        "type": "header",
        "content": "Sticky Header Logo"
      },
      {
        "type": "image_picker",
        "id": "sticky_logo",
        "label": "Sticky Header Logo Image"
      },
      {
        "type": "image_picker",
        "id": "sticky_logo_retina",
        "label": "Retina Sticky Header Logo Image"
      },
      {
        "type": "header",
        "content": "Menu Section"
      },
      {
        "type": "link_list",
        "id": "header_menu",
        "label": "Main Menu"
      },
      {
        "type": "select",
        "id": "menu_trigger",
        "label": "Menu Trigger Style",
        "options": [
          {
            "label": "Style 1",
            "value": "1"
          },
          {
            "label": "Style 2",
            "value": "2"
          },
          {
            "label": "Style 3",
            "value": "3"
          },
          {
            "label": "Style 4",
            "value": "4"
          }
        ]
      },
      {
        "type": "header",
        "content": "Contact Section"
      },
      {
        "type": "select",
        "id": "header_contact",
        "label": "Contact Section",
        "options": [
          {
            "label": "Disable",
            "value": ""
          },
          {
            "label": "Enable",
            "value": "1"
          }
        ]
      },
      {
        "type": "select",
        "id": "header_contact_icon",
        "label": "Contact Section Icon",
        "options": [
          {
            "label": "Disable",
            "value": ""
          },
          {
            "label": "Enable",
            "value": "1"
          }
        ]
      },
      {
        "type": "text",
        "id": "header_contact_subtitle",
        "label": "Customer Support bar Subtitle"
      },
      {
        "type": "text",
        "id": "header_contact_title",
        "label": "Customer Support bar Title"
      },
      {
        "type": "header",
        "content": "Search Section"
      },
      {
        "type": "select",
        "id": "header_search",
        "label": "Search Section",
        "options": [
          {
            "label": "Disable",
            "value": ""
          },
          {
            "label": "Enable",
            "value": "1"
          }
        ]
      },
      {
        "type": "select",
        "id": "header_search_mobile",
        "label": "Mobile Search Section",
        "options": [
          {
            "label": "Disable",
            "value": ""
          },
          {
            "label": "Enable",
            "value": "1"
          }
        ]
      },
      {
        "type": "collection",
        "id": "header_search_featured",
        "label": "Featured Products"
      },
      {
        "type": "text",
        "id": "header_search_limit",
        "label": "Number of products"
      },
      {
        "type": "header",
        "content": "Currency Section"
      },
      {
        "type": "select",
        "id": "header_currency",
        "label": "Enable currency conversion",
        "info": "Even though prices are displayed in different currencies, orders will still be processed in your store's currency.",
        "options": [
          {
            "label": "Disable",
            "value": ""
          },
          {
            "label": "Enable",
            "value": "1"
          }
        ]
      },
      {
        "type": "select",
        "id": "currency_format",
        "label": "Format",
        "options": [
          {
            "value": "money_format",
            "label": "Without currency ($10.00)"
          },
          {
            "value": "money_with_currency_format",
            "label": "With currency ($10.00 CAD)"
          }
        ],
        "default": "money_with_currency_format"
      },
      {
        "type": "text",
        "id": "supported_currencies",
        "label": "Supported currencies",
        "info": "Use the country's ISO [currency code](http://www.xe.com/iso4217.php). Separate your currency codes with a space.",
        "default": "CAD USD EURO"
      },
      {
        "type": "text",
        "id": "default_currency",
        "label": "Default currency",
        "default": "USD"
      },
      {
        "type": "header",
        "content": "Social Media Icons"
      },
      {
        "type": "select",
        "id": "header_social",
        "label": "Social Media Icons",
        "options": [
          {
            "label": "Disable",
            "value": ""
          },
          {
            "label": "Enable",
            "value": "1"
          }
        ]
      },
      {
        "type": "html",
        "id": "header_social_content",
        "label": "Social Icons"
      },
      {
        "type": "header",
        "content": "Sticky Header"
      },
      {
        "type": "select",
        "id": "header_sticky",
        "label": "Header Sticky Menu",
        "options": [
          {
            "label": "Off",
            "value": ""
          },
          {
            "label": "On",
            "value": "1"
          }
        ]
      },
      {
        "type": "select",
        "id": "header_sticky_scroll",
        "label": "Header Sticky Menu Show\/Hide on Scroll",
        "options": [
          {
            "label": "Disable",
            "value": ""
          },
          {
            "label": "Enable",
            "value": "1"
          }
        ]
      },
      {
        "type": "select",
        "id": "header_sticky_mobile",
        "label": "Sticky Menu on Tablet\/Mobile devices",
        "options": [
          {
            "label": "Hide",
            "value": ""
          },
          {
            "label": "Show",
            "value": "1"
          }
        ]
      }
    ]
  }
{% endschema %}
