<div class="page-header home animated fadeIn"><div class="row"></div></div>

{% schema %}
  {
    "name": "Header space",
    "settings": [
      {
        "type": "paragraph",
        "content": "You should have only 1 this section on the top."
      }
    ],
    "presets": [
      {
        "name": "Header space",
        "category": "Others"
      }
    ]
  }
{% endschema %}