{%- assign empty_space = section.settings.height | plus:0 -%}
{%- if empty_space > 0 -%}
<div class="empty_space" style="height:{{ empty_space }}px"><span class="empty_space_inner"></span></div>
{%- endif -%}

{% schema %}
  {
    "name": "Empty space",
    "settings": [
      {
        "type": "text",
        "id": "height",
        "label": "Height (px)",
        "default": "40"
      }
    ],
    "presets": [
      {
        "name": "Empty space",
        "category": "Others"
      }
    ]
  }
{% endschema %}