<div data-section-id="{{ section.id }}" data-section-type="slideshow-section">
  {% if section.settings.shortcode != blank and section.settings.shortcode != "" %}
    {% include 'ra-shortcode' load: section.settings.shortcode %}
  {% endif %}
</div>
{% schema %}
  {
    "name": "Slider Revolution",
    "settings": [
      {
        "type": "text",
        "id": "shortcode",
        "label": "Shortcode"
      }
    ],
    "presets": [{
      "name": "Slider Revolution",
      "category": "Image"
    }]
  }
{% endschema %}